body{
  background-color: #00718F;
}
.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: darkgrey;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #00718F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #CFCBC8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: solid;
  }